__pycache__/
*.pyc
*.log
*.pfx
*.pem
*.crt
*.key
Certs/
*.exe
.idea/
.vscode/
bin/
obj/
InstallerSource/
*.suo
*.user
# Ignore Visual Studio/JetBrains files
.vs/
*.user
*.suo

# Ignore build artifacts
bin/
obj/

# Ignore logs
Log.txt

#Ignore vectorDB
vector_db/
*.faiss
*.pkl

#Ignore SQL DB
*.sql
